<app-nav-bar></app-nav-bar>
<br />
<div class="flex justify-center flex-col">
  <div class="flex justify-center">
    <input
      type="text"
      placeholder="Search"
      [(ngModel)]="searchInput"
      (ngModelChange)="iteration()"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>
  <div class="flex justify-center">
    <p>{{ searchInput }}{{ iterationNumber }}</p>
  </div>
  <div class="flex flex-wrap gap-4 pt-10 justify-center">
    <app-post
      *ngFor="let post of filteredPosts"
      [userName]="post.userName"
      [date]="post.date"
      [content]="post.content"
      (ngModelChange)="iteration()"
    >
    </app-post>
  </div>
</div>
